body{
    margin: 0px;
    background-image: url("../images/hypnotize.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;

	background-color:#000;
}
#overlay{
    background-color: rgba(0,0,0,0.5);
    position:fixed;
     left:0;
     top: 0;
     width:100%;
     height:100%;
     display: none;
}
.container{
    background: rgba(0,0,0,0.5);
    padding: 80px 0px;
    left:0;
    top: 0;
    
}

ul.nav{
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    overflow: hidden;
    width: 960px;
    font-family: 'Alfa Slab One', cursive;

}
li.header{
    float:right;
    padding: 22px 16px;
    color: #fff;
    font-family: 'Alfa Slab One', cursive;
}

li.header:hover {
    background-color:#fff;
    color: #050505;
}

.header_name{
    color:#fff;
    text-decoration: none;
}

a.heading{
    text-decoration: none;
    color: #fff333;
}

li.Name{
    float:left;
    padding: 18px 55px;
    color: #ffffff;
    background-color: #050505;
    font-size: 24px;
    font-weight: bold;
}
div.header{
    background-color: #050505; 
    border-bottom: 1px solid #cccccc;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin: 0%;
    top: 0;
}
p{
    margin: 0px;
    line-height: 25px;
    font-family:'K2D', sans-serif;
}
span,{
    font-family:'K2D', sans-serif;
}
h1,{
    margin: 0px;
    font-family: 'Alfa Slab One', cursive;
}
.displayname{
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 5px;
}
div.footer1{
    background-color:#333;
    text-align: center;
    width: 100%;
    position:absolute;
    bottom:0;
    padding: 20px 0;
    margin: auto;
    color: #fff;
    border-top: #4aaaa5 5px solid;
    clear: both;
}
div.footer2{
    background-color:#333;
    text-align: center;
    width: 100%;
    position:relative;
    bottom:0;
    padding: 20px 0;
    margin: auto;
    color: #fff;
    border-top: #4aaaa5 5px solid;
    clear: both;
}


div.body-intro{
    background-image: url("../images/1639.jpg");
    background-color:#efefee;
    padding-top:30px;
    padding-bottom:30px;
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    border: #dddddd 2px solid; 
    margin-top: 50px;
    margin-bottom: 0px;
    border-radius: 5px;
    height: 600px;
    text-align: center;
    
    
}
div.body{
    background-color:#efefee;
    padding-left: 30px;
    padding-right:30px;
    padding-top:30px;
    padding-bottom:30px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
   
    
}
div.innerbody{
    background-color:#efefee;
    padding-left: 30px;
    padding-right:30px;
    padding-top:30px;
    padding-bottom:30px;
    width:900px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
   
    
}
div.body-2{
    background-color:#efefee;
    padding-left: 30px;
    padding-right:30px;
    padding-top:30px;
    padding-bottom:30px;
    width: 900px; 
    margin-left: auto;
    margin-right: auto;

    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
 
}
div.body-3{
    background-color:#efefee;
    padding-left: 30px;
    padding-right:30px;
    padding-top:30px;
    padding-bottom:30px;
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
  
    margin-top: 30px;
    margin-bottom: 30px;
  
    
}
div.innerbody-3{
    background-color:#efefee;
    padding-left: 30px;
    padding-right:30px;
    padding-top:30px;
    padding-bottom:30px;
    width: 900px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  
    
}
div.slides-body{
    position: relative;
}



table.category {
    width: 660px;
    margin-left:auto;
    margin-right:auto;
}
img.table:hover{
    position: relative;
    bottom:10px;

}
th{
    margin: 0px 20px;;
    position: relative;
    top: 80px;
}
div.row{
    display: block;
}
div.column{
    display: inline-block;
    width: 220px;
    text-align: center;
}
span.cat-table{
    position: relative;
    top: 80px;
    background-color: #dddddd;
    padding: 10px 9px;
    
}
.display-left{
    position: absolute;
    top: 50%;
    left: 0%;
    width: 60px;
    opacity: 0.9;
    height: 50px;
    border-radius: 55px;

}
.display-right{
    position: absolute;
    top: 50%;
    right: 0%;
    width: 60px;
    opacity: 0.9;
    height: 50px;
    border-radius: 55px;
    
}
/* modal css*/
#triviaModal{
    display: none;
}
#starWarsModal{
    display: none;
}
#starcraftModal{
    display: none;
}
#giphyModal{
    display: none;
}
#warhammerModal{
    display: none;
}
.modalMain{
    background-color:#efefee;
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    border: #dddddd 2px solid; 
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top:0;
    z-index: 2;
    overflow: scroll;
    margin-top:50px;
    height: 100%;
    
}
.close{
    
    font-size: 40px;
    font-weight: bold;
    padding: 0 12px;
   
}
.close:hover{
    background:white;

}
.close-div{
    text-align: right;
}
iframe{
    overflow: scroll;
}
/*end of modal css*/
/* scrolling css*/
.bounce-up{
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .bounce-up.in-view{
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.head-intro{
    width: 600px;
    margin:250px auto;
    padding: 15px;
    border: black solid 2px;
    background:rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    color: #000;
}
.skillset{
    text-align: center;
    margin: 5px;
    border: 1px black solid;
    width: 100%;
}
.check{
    color:darkgreen;
}
td{
    border: #000 solid 1px;

}
.project-demo{
    padding: 10px;
    font-size: 15px;
}
.left-demo{
    float: left;
    overflow:auto;
    width: 40%;
    height: 200px
}
.right-demo{
    float:right;
    overflow:auto;
    width: 60%;
    height: 200px;
}
.gitlink{
    padding-left: 40px;
    font-size: 30px;
    margin: 10px 0;
}
.gitA{
    color: #000000;
    padding-left: 40px;
   
    font-size: 25px;

  
}
.gitA:hover{
    color: lightblue;
}
.contact{
    color: #000000;
}

/* @media screen and (max-width: 980px) {
    body {
      background-color: #333;
    }
  
    div.body{
        background-color:#efefee;
        width: 60%; 
        border: #dddddd 2px solid; 
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
    }    

    ul.nav{
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 100%;
    }
    div.header {
        background-color: #050505;
        padding: 0 2% 0 2%;
        border-bottom: 1px solid #cccccc;
    }
    div.footer1{
        background-color:#333;
        text-align: center;
        width: 100%;
        position:relative;
        bottom:0;
        padding: 20px 0;
        margin: auto;
        color: #fff;
        border-top: #4aaaa5 5px solid;
        clear: both;
    } */

@media screen and (max-width: 980px) {
    body {
      background-color: #333;
    }
  
    div.body{
        background-color:#efefee;
        width: 60%; 
        border: #dddddd 2px solid; 
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
    }    

    ul.nav{
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 100%;
    }
    div.header {
        background-color:#050505;
        padding: 0 2% 0 2%;
        border-bottom: 1px solid #cccccc;
    }
    div.footer1{
        background-color:#333;
        text-align: center;
        width: 100%;
        position:relative;
        bottom:0;
        padding: 20px 0;
        margin: auto;
        color: #fff;
        border-top: #4aaaa5 5px solid;
        clear: both;
    }

    /* @media screen and (max-width: 640px) { */
        body {
          background-color: #333;
        }
        div.body{
            background-color:#efefee;
            width: 100%; 
            border: #dddddd 2px solid; 
            margin-top: 0px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            padding: 0px;
            
        }    
        div.body-intro{
            height: 400px;
        }
    
        div.body-2{
            background-color:#efefee;
            width: 80%; 
            border: #dddddd 2px solid; 
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            
        }  
        div.body-3{
            background-color:#efefee;
            width: 80%; 
            border: #dddddd 2px solid; 
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            
        }  
        div.innerbody{
            background-color:#efefee;
            padding-left: 0px;
            padding-right:0px;
            padding-top:0px;
            padding-bottom:30px;
            width:90%; 
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            margin-bottom: 30px; 
        }
        div.innerbody-2{
            background-color:#efefee;
            padding-left: 30px;
            padding-right:30px;
            padding-top:30px;
            padding-bottom:30px;
            width:80%; 
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            margin-bottom: 30px;
          
            
        }
        div.innerbody-3{
            background-color:#efefee;
            padding-left: 0px;
            padding-right:0px;
            padding-top:0px;
            padding-bottom:0px;
            width:90%; 
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            margin-bottom: 30px;
          
            
        }
        .modalMain{
            background-color:#efefee;
            width: 100%; 
            margin-left: auto;
            margin-right: auto;
            border: #dddddd 2px solid; 
            position: fixed;
            left: 50%;
            transform: translate(-50%, 0);
            top: 1%;
            z-index: 2;
            height: 100%;         
        }
        ul.nav{
        list-style-type: none;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center
        
        }

        div.header {
            background-color: #050505;
            padding: 0;
            border-bottom: 1px solid #cccccc;
        }
        div.footer1{
            background-color:#333;
            text-align: center;
            width: 100%;
            position:relative;
            bottom:0;
            padding: 20px 0;
            margin: auto;
            color: #fff;
            border-top: #4aaaa5 5px solid;
            clear: both;
        }

        
    li.Name{
        padding: 18px 0px;
        color: #ffffff;
        background-color: #050505;
        font-size: 24px;
        font-weight: bold;
        float: none;
        display: block;
        width: 100%;
    
    }
    li.header{
        padding: 22px 16px;
        color: #fff;
    float: none;
        display: inline-block;
    }
    .head-intro{
        width: 80%;
        margin: 150px auto;
        padding: 15px;
        border: black solid 2px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
        color: #000;
    }
    .left-demo{
        float: none;
        overflow:auto;
        width: 100%;
        padding: 10px 0;
        height: 100%;
    }
    .right-demo{
        float:none;
        overflow:auto;
        width: 100%;
        padding: 10px 0; 
        height: 100%;     
    }
    td{
        display: block;
    }
    tr{
        display: inline;
        width: 50%;
        float: left
    }
    .gitlink{
        padding-left: 0px;
        font-size: 20px;
        margin: 10px 0;
    }
    .gitA{
        color: #000000;
        padding-left: 0px;
       
        font-size: 15px;
       
      
    }
 /* } */